div.mod-languages ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
div.mod-languages li {
	margin-left: 5px;
	margin-right: 5px;
}

div.mod-languages ul.lang-inline li {
	display:inline;
}

div.mod-languages ul.lang-block li {
	display:block;
	font-family: 'GothamProRegular';
}

div.mod-languages img {
	border:none;
}

div.mod-languages a  {
    text-decoration: none;
    margin: 0px -25px 0 -10px;
    padding: 0 10px;
    display: inline-block;
    width: 60px;
    outline: none;
}
div.mod-languages a:focus,
div.mod-languages a:active{
	outline: none;
}